:root{
    --cor-fundo:black;
    --cor-principal:rgb(170, 62, 62);
    --cor-secundaria:rgb(17, 13, 223);
    --cor-destaque:rgb(104, 182, 68);
    --cor-texto:rgb(253, 252, 252);

}

body{
    background-color: var(--cor-fundo);
    color:var(--cor-texto); 
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
}
.caixa-principal{
    background-color:ver(--cor-secundaria);
    color: var(--cor-texto);
    border: nome;
    border-radius: 15px;
    padding: 15;
    transition: background-color 0,3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}